body{
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
h1{
    font-size: 50px;
}
h3{
    font-size: 30px;
}
.left-half-box{
        margin-top: -120px;
        margin-left: 10px;
        padding-left: 30px;
        padding-top: 30px;
        width: 1000px;
        height: 140px;
}  
.right-half-box{
    margin-top: -120px;
    margin-left: 920px;
    padding-left: 30px;
    padding-top: 30px;
    width: 1000px;
    height: 140px;
}
p{      font-size: 25px;
        margin-right: 100px;
        text-align: justify;
        padding-right: 75px;
        font-family: cursive;
}
.skill1{
    color: blueviolet;
    font-size: 30px;
}
.skill2{
color: brown;
font-size: 30px;
}
section{
    margin: -8px;
}
.down-section{
    margin-top: 700px;
    size: 500px, 500px
}