body{
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: #0093E9;
    background-image: linear-gradient(160deg,  #4b6cb7 0%, #182848 100%);

  }
h1{
    font-size: 50px;
}
h3{
    font-size: 30px;
}
.left-half-box{
        margin-top: -120px;
        margin-left: 10px;
        padding-left: 30px;
        padding-top: 30px;
        width: 1000px;
        height: 140px;
        color: orange;
}  
.right-half-box{
    margin-top: -120px;
    margin-left: 920px;
    padding-left: 30px;
    padding-top: 30px;
    width: 1000px;
    height: 140px;
}
.right-half-box img {
  padding-left: 120px;
}

p{      font-size: 25px;
        margin-right: 100px;
        text-align: justify;
        padding-right: 75px;
        font-family: cursive;
        color: rgb(255, 255, 255);
}
.skill1{
    color: #26db2f;
    font-size: 30px;
}
.skill2{
color: #26db2f;
font-size: 30px;
}
section{
    margin: -8px;
}
.down-section{
    margin-top: 700px;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.down-section img{
    width: 600px;
    margin-left: 40px;
}


/* BUTTON HIRE ME*/

.HireMe-Button {
    margin: 03px;
    padding: 15px 40px;
    border: none;
    outline: none;
    color: #FFF;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 12px;
    text-decoration: none;
  }
  .HireMe-Button::after {
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #0077B5;
    left: 0;
    top: 0;
    border-radius: 10px;
  }
  /* glow */
  .HireMe-Button::before {
    content: "";
    background: linear-gradient(
      45deg,
      #FF0000, #FF7300, #FFFB00, #48FF00,
      #00FFD5, #002BFF, #FF00C8, #FF0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    z-index: -1;
    width: calc(100% + 4px);
    height:  calc(100% + 4px);
    filter: blur(8px);
    animation: glowing 20s linear infinite;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
    opacity: 0;
  }
  
  @keyframes glowing {
    0% {background-position: 0 0;}
    50% {background-position: 400% 0;}
    100% {background-position: 0 0;}
  }
  
  /* hover */
  .HireMe-Button:hover::before {
    opacity: 1;
  }
  
  .HireMe-Button:active:after {
    background: transparent;
  }
  
  .HireMe-Button:active {
    color: #000;
    font-weight: bold;
  }




  /* BUTTON FIVERR */

  .fiverr-Button {
    margin: 03px;
    padding: 15px 40px;
    border: none;
    outline: none;
    color: #FFF;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 12px;
    text-decoration: none;
  }
  .fiverr-Button::after {
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #00b22d;
    left: 0;
    top: 0;
    border-radius: 10px;
  }
  /* glow */
  .fiverr-Button::before {
    content: "";
    background: linear-gradient(
      45deg,
      #FF0000, #FF7300, #FFFB00, #48FF00,
      #00FFD5, #002BFF, #FF00C8, #FF0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    z-index: -1;
    width: calc(100% + 4px);
    height:  calc(100% + 4px);
    filter: blur(8px);
    animation: glowing 20s linear infinite;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
    opacity: 0;
  }
  
  @keyframes glowing {
    0% {background-position: 0 0;}
    50% {background-position: 400% 0;}
    100% {background-position: 0 0;}
  }
  
  /* hover */
  .fiverr-Button:hover::before {
    opacity: 1;
  }
  
  .fiverr-Button:active:after {
    background: transparent;
  }
  
  .fiverr-Button:active {
    color: #470101;
    font-weight: bold;
  }



  /* UPWORK BUTTON */

  .Upwork-Button {
    margin: 03px;
    padding: 15px 40px;
    border: none;
    outline: none;
    color: #FFF;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 12px;
    text-decoration: none;
  }
  .Upwork-Button::after {
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(45deg,#73bb44, #385925);
    left: 0;
    top: 0;
    border-radius: 10px;
  }
  /* glow */
  .Upwork-Button::before {
    content: "";
    background: linear-gradient(
      45deg,
      #FF0000, #FF7300, #FFFB00, #48FF00,
      #00FFD5, #002BFF, #FF00C8, #FF0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    z-index: -1;
    width: calc(100% + 4px);
    height:  calc(100% + 4px);
    filter: blur(8px);
    animation: glowing 20s linear infinite;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
    opacity: 0;
  }
  
  @keyframes glowing {
    0% {background-position: 0 0;}
    50% {background-position: 400% 0;}
    100% {background-position: 0 0;}
  }
  
  /* hover */
  .Upwork-Button:hover::before {
    opacity: 1;
  }
  
  .Upwork-Button:active:after {
    background: transparent;
  }
  
  .Upwork-Button:active {
    color: #470101;
    font-weight: bold;
  }


/* FREELANCER BUTTON */

  .Freelancer {
    margin: 03px;
    padding: 15px 40px;
    border: none;
    outline: none;
    color: #FFF;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 12px;
    text-decoration: none;
  }
  .Freelancer::after {
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #29B2FE;
    left: 0;
    top: 0;
    border-radius: 10px;
  }
  /* glow */
  .Freelancer::before {
    content: "";
    background: linear-gradient(
      45deg,
      #FF0000, #FF7300, #FFFB00, #48FF00,
      #00FFD5, #002BFF, #FF00C8, #FF0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    z-index: -1;
    width: calc(100% + 4px);
    height:  calc(100% + 4px);
    filter: blur(8px);
    animation: glowing 20s linear infinite;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
    opacity: 0;
  }
  
  @keyframes glowing {
    0% {background-position: 0 0;}
    50% {background-position: 400% 0;}
    100% {background-position: 0 0;}
  }
  
  /* hover */
  .Freelancer:hover::before {
    opacity: 1;
  }
  
  .Freelancer:active:after {
    background: transparent;
  }
  
  .Freelancer:active {
    color: #470101;
    font-weight: bold;
  }

  /* BEHANCE PROFILE */
  .behance {
    margin: 03px;
    padding: 15px 40px;
    border: none;
    outline: none;
    color: #FFF;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 12px;
    text-decoration: none;
  }
  .behance::after {
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #0077B5;
    left: 0;
    top: 0;
    border-radius: 10px;
  }
  /* glow */
  .behance::before {
    content: "";
    background: linear-gradient(
      45deg,
      #FF0000, #FF7300, #FFFB00, #48FF00,
      #00FFD5, #002BFF, #FF00C8, #FF0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    z-index: -1;
    width: calc(100% + 4px);
    height:  calc(100% + 4px);
    filter: blur(8px);
    animation: glowing 20s linear infinite;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
    opacity: 0;
  }
  
  @keyframes glowing {
    0% {background-position: 0 0;}
    50% {background-position: 400% 0;}
    100% {background-position: 0 0;}
  }
  
  /* hover */
  .behance:hover::before {
    opacity: 1;
  }
  
  .behance:active:after {
    background: transparent;
  }
  
  .behance:active {
    color: #000;
    font-weight: bold;
  }

/* WEB CSS */
  .down-right-area{
    margin-top: -600px;
    margin-left: 920px;
    padding-left: 30px;
    padding-top: 30px;
    width: 1000px;
    height: 140px;
  }
  .down-right-area h2{
    color: orange;
    font-size: 40px;
  }
  .down-right-area h4{
    font-size: 30px;
    color: #73bb44;
  }

  .offer-list{
  margin-top: 10px;
  margin-left: -55px;
  font-size: 23px;
  }
  .offer-list li{
    margin: 10px;
    color: #FF7300;
    list-style: none;
  }
  .bold{
    font width:700px;
    color: #d87093
  }
  
  .experience-area{
    padding-top: 500px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 60px;
  }
  .experience-Heading{
    font-size: 65px;
    color: orange;
    text-align: center;
  }

  .experience-wrapper{
    display: flex;
    gap: 60px;
  }

  .experience-area2{
    padding-top: 10px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 60px;
  }

  .experience-wrapper-down{
    display: flex;
    gap: 60px;
  }

  .left-box{
    padding-top: 1px;
    box-shadow: 5px 5px 20px grey;
    padding-left: 80px;
    border-radius: 5px;
  }
  .left-box h2{
      color: #d1d40b;
      text-align: center;
      font-size: 30px;
  }
  .left-box h3{
    color: #73bb44;
  }
  .text_h2_left{
    margin-left: -75px;
  }

  .Key-expert-list{
    list-style: none;
    margin-left: -44px;
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-align: justify;
  }
  .Heading-Graphics{
    font-size: 40px;
    text-align: center;
    color: #73bb44;
  }
  .Heading-Graphics_2{
    font-size: 30px;
  }

  .text_align_title{
    margin-left: 50px;
    font-size: 35px;
  }
  .text_h2_down-right{
    text-align: center;
  }
  .text_align_title_left{
    font-size: 36px;
    margin-left: 10px;
  }

  /* TESTIMONIALS */
  #testimonials {
    text-align: center;
    margin: 50px 0;
 }
 
 .testimonial {
    background-color: #300303;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
 }
 
 .testimonial p {
    font-size: 1.2em;
    font-style: italic;
 }
 
 .testimonial strong {
    font-weight: bold;
 }